<!doctype html>
<html>
<head>
    <title>The Karen Quiz</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>RESULTS Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

        <form action="/profile" method="put">
          <h1>The Karen Quiz</h1>
          <h2>Take the quiz to earn your entitled oppressor name!</h2>
          <section>
            <p>1. What's your favorite piece of tech?</p>
            <div>
              <!-- <h2><%= JSON.stringify(results) %></h2> -->
              <h2><%= results[results.length-1].tech %></h2>




            </div>
          </section>
          <section>
            <p>2. Where would you rather hang?</p>
            <div>
            <h2><%= results[results.length-1].place %></h2>
            </div>
          </section>
          <section>
            <p>3. What would you rather do right now?</p>
            <div>
              <h2><%= results[results.length-1].call %></h2>
            </div>
          </section>
          <section>
            <p>4. What's your outfit of choice?</p>
            <div>
              <h2><%= results[results.length-1].outfit %></h2>
            </div>
          </section>
          <section>
            <p>5. Where would you rather live?</p>
            <div><h2><%= results[results.length-1].city %></h2>
            </div>
          </section>
          
        </form>

          <h2>Results:   <span>



          </span></h2>

<script src="main.js"></script>

</body>
</html>
